src/node_modules/
src/.idea/
src/.idea/workspace.xml
src/.idea/workspace.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/STORM.iml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
Documentation/User Manual/UserManual.aux
Documentation/User Manual/UserManual.log
Documentation/User Manual/UserManual.synctex.gz
Documentation/User Manual/UserManual.toc
src/node_modules

