<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>STORM</title>
    <link rel="stylesheet" href="style/css.css">
</head>
<body>
<div class="header">
    <h2 class="headerMessages">Welcome to STORM</h2>
    <img id="logo" src="images/Storm.png" alt="STORM Logo" height="80" />

</div>

<div class="main">

    <div class="background">
        <img src="../Images/Storm.png" style="width: 100%;top:auto;">
    </div>

    <div class="aboutWrapper">
        <div class="aboutUsText">
            <h1> <u>About Us</u></h1>
            <p>Have you ever felt the need to shuffle a list of subjects into teams, but the teams
                were subject to certain requirements?

                The lecturers of the Department of Computer Science at the University of Pretoria
                required a system to be developed to shuffle teams for
                the “Rocking the boat” exercise of the Software Engineering module, using a set of
                lecturer defined criteria to select the teams.

                The STORM system helps in exactly this case.  It allows users to shuffle teams by random,
                manually or by a set of criteria as defined by the user.

                If you don't know if this system is the right one for you, click on see how it works
                at the top of this page for a demo on how this system can help you.
            </p>

            <h3> <u>User manual</u></h3>
            <p>
                Download our User manual here.
            </p>
            <p>
                <a href="PDF/UserManual.pdf" download>Download the pdf</a>
            </p>
        </div>
    </div>
</div>
    <footer class="footer">
        <div class="footerMenu">
            <table id="tableMenu">
                <tr id="tableMenu">
                    <th id="tableMenu"><input id="homeButton" type="text" value="Home"
                                              onclick="window.location='/';" /></th>
                    <th id="tableMenu"><input id="aboutButton" type="text" value="About"
                                              onclick="window.location='/about';" /></th>
                    <th id="tableMenu"><input id="contactButton" type="text" value="Contact Us"
                                              onclick="window.location='/contact';" /></th>
                </tr>
            </table>
        </div>
    </footer>





</body>
</html>