<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>STORM</title>
    <link rel="stylesheet" href="style/css.css">
</head>
<body>

<div class="AboutUsText">
    <p>Have you ever felt the need to shuffle a list of subjects into teams, but the teams
        were subject to certain requirements?

        The lecturers of the Department of Computer Science at the University of Pretoria
        required a system to be developed to shuffle teams for
        the “Rocking the boat” exercise of the Software Engineering module, using a set of
        lecturer defined criteria to select the teams.

        The STORM system helps in exactly this case.  It allows users to shuffle teams by random,
        manually or by a set of criteria as defined by the user.

        If you don't know if this system is the right one for you, click on see how it works
        at the top of this page for a demo on how this system can help you.
    </p>
</div>

</body>
</html>