<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>STORM</title>
    <link rel="stylesheet" href="APIs/jquery-ui-1.11.4.custom/jquery-ui.min.css">
    <script src="APIs/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
    <script src="APIs/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="style/css.css">

    <script>

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            var expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

        function errorBox(message){
            $("#errorDialog").html("An error has occured: <br> " + message);
            $("#errorDialog").dialog({
                resizable: false,
                modal: true,
                title: "Password Mismatch",
                height: 250,
                width: 400,
                buttons: {
                    "Ok": function () {
                        $(this).dialog('close');
                        confirmDeleteTeamTable(element);
                    }
                }

            });
        }
        $(document).ready(function(e) {
            sessionStorage.clear();

            $("#loginForm").submit(function (event) {
                event.preventDefault();

                var $form = $(this),
                        user = $form.find("input[name='username']").val(),
                        pass = $form.find("input[name='password']").val();


                $.ajax({
                    type: "POST",
                    url: '/login',
                    data: {username: user},
                    dataType: "json",
                    success: function (dat, testStatus) {
                        if (dat.length == 0) {
                            $("#loginUser").css("border-color", "red");
                            $(".sign").effect('shake');
                        }
                        else {

                            var data = JSON.stringify(dat);
                            data = JSON.parse(data.substring(1, data.length - 1));
                            //alert(JSON.stringify(data));


                            if (data.password != pass) {
                                $("#loginPass").css("border-color", "red");
                                $(".sign").effect('shake');
                            }
                            else {
                                sessionStorage['User'] = JSON.stringify(data);
                                window.location.href = "/projectHome";
                            }
                        }

                    },

                    error: function()
                    {
                        $("#errorDialog").html("An error has occured: <br> Could not connect to database");
                        $("#errorDialog").dialog({
                            resizable: false,
                            modal: true,
                            title: "Error",
                            height: 250,
                            width: 400,
                            buttons: {
                                "Ok": function () {
                                    $(this).dialog('close');
                                    confirmDeleteTeamTable(element);
                                }
                            }

                        });
                    }
                });


            });

            $("#signUpForm").submit(function (event) {
                event.preventDefault();

                var $form = $(this),
                        name = $form.find("input[name='name']").val(),
                        user = $form.find("input[name='username']").val(),
                        pass = $form.find("input[name='password']").val(),
                        confirm = $form.find("input[name='confirm']").val(),
                        email = $form.find("input[name='email']").val();

                if(pass != confirm) {
                    errorBox("Passwords do not match, please retype them");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: '/signUp',
                        data: {name: name, username: user, password: pass, projectID: [], email: email},
                        dataType: "json",
                        success: function (dat, testStatus) {


                            switch (dat.code)
                            {
                                case 0:
                                    errorBox("Username is not available");
                                    break;
                                case 1:
                                    errorBox("Something went wrong while trying to write to the database");
                                    break;
                                case 2:
                                    sessionStorage['User'] = JSON.stringify(dat.user);
                                    window.location.href = "/projectHome";
                                    break;

                            }
                            //data = JSON.parse(data.substring(1,data.length-1));

                        },

                        error: function () {
                            $("#errorDialog").html("An error has occured: <br> Could not connect to database");
                            $("#errorDialog").dialog({
                                resizable: false,
                                modal: true,
                                title: "Error",
                                height: 250,
                                width: 400,
                                buttons: {
                                    "Ok": function () {
                                        $(this).dialog('close');
                                        confirmDeleteTeamTable(element);
                                    }
                                }

                            });
                        }
                    });
                }

            });

            $( "input[type=submit], a, button, input[type=file]" ).button();
        });
        /**
        $.ajax({
            url: '/index', complete: function(data){
                //alert(data);
            }
        });
        $(function() {
            $( "input[type=submit], a, button" ).button();
        });**/
    </script>
</head>
<body>
    <div class="header">
        <h2 class="headerMessages">Welcome to STORM</h2>
        <img id="logo" src="images/Storm.png" alt="STORM Logo" height="80" />

    </div>

    <div class="main">

        <div class="background">
        <img src="../Images/Storm.png" style="width: 100%;top:auto;">
        </div>
        <div id="demoDiv">
        <input id="demoButton" type="submit" value="See how it works"
               onclick="window.location='/demo';" />
        </div>
        <div class="sign">
            <div class="signin">
                <p class="signHeadings">Sign in</p>
                <form id="loginForm">
                    <table class="signinTable">
                        <tr>
                            <td>Username:</td>
                            <td><input id="loginUser" name="username" type="text" required/></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input id="loginPass" name="password" type="password" required/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="submits"><input class="submitButtons" type="submit" value="Sign In"/></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="signup">
                <p class="signHeadings">Don't have an account?<br>Sign up here.</p>
                <form id="signUpForm">
                    <table class="signupTable">
                        <tr>
                            <td>Name:</td>
                            <td><input name="name" type="text" required/></td>
                        </tr>
                        <tr>
                            <td>Username:</td>
                            <td><input name="username" type="text" required/></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input name="email" type="email" required/></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input name="password" type="password" required/></td>
                        </tr>
                        <tr>
                            <td>Retype Password:</td>
                            <td><input name="confirm" type="password" required/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="submits"><input class="submitButtons" type="submit" value="Sign Up"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>



    <div class="PlaceHolder">

    </div>
    <footer class="footer">
    <div class="footerMenu">
        <table id="tableMenu">
            <tr id="tableMenu">
                <th id="tableMenu"><input id="homeButton" type="text" value="Home"
                                          onclick="window.location='/';" /></th>
                <th id="tableMenu"><input id="aboutButton" type="text" value="About"
                                          onclick="window.location='/about';" /></th>
                <th id="tableMenu"><input id="contactButton" type="text" value="Contact Us"
                                          onclick="window.location='/contact';" /></th>
            </tr>
        </table>
    </div>
    </footer>
</div>
<div id="errorDialog"></div>
</body>
</html>