<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>STORM Projects</title>

    <link rel="stylesheet" href="style/css.css">
    <link rel="stylesheet" href="APIs/jquery-ui-1.11.4.custom/jquery-ui.min.css">
    <script src="APIs/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
    <script src="APIs/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="scripts/projectSetup.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="scripts/jquery.csv-0.71.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">

    <div class="container-fluid">
        <div class="navbar-form navbar-right" id="righty">
            <span class="text-primary"  id="usernm"></span> : <a id="logOutBtn" href="#"><button class="btn btn-default">Log Out</button> </a>
        </div>
        <div class="nav navbar-nav ">
            <li class="active"><a href="#">My Projects</a></li>
            <li ><a href="/about">About</a></li>
            <li ><a href="/contact">Contact</a></li>
        </div>
    </div>
</nav>


<div class="main">

    <div class="background">
        <img src="../Images/Storm.png" style="width: 100%;top:auto;">
    </div>

    <div class="panel panel-primary" id="Projects">
        <div id="ProjectsTitle" class="panel-heading clearfix">
            <h3  class="panel-title pull-left" style='padding-top: 7.5px; padding-bottom: 7.5px'>My Projects</h3>
        </div>
        <div  class="loader panel-body" id="MyProjects"></div>
    </div>

    <div id="AddProjects" ><img id="AddProjectsImg" src="images/plus_button.png" height="100px"><br/>Add Projects</div>
    <div id="dialog-confirm"></div>

</div>

</body>
</html>