<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>STORM Projects</title>
    <link rel="stylesheet" href="style/css.css">
</head>
<body>
<div class="header">
    <h2 class="headerMessages">Manage Projects</h2>
    <img id="logo" src="images/Storm.png" alt="STORM Logo" height="80" />

</div>

<div class="main">

    <div class="background">
        <img src="../Images/Storm.png" style="width: 100%;top:auto;">
    </div>

    <div class="aboutWrapper">
        <div class="aboutUsText">

        </div>
    </div>
</div>
<footer class="footer">
    <div class="footerMenu">
        <table id="tableMenu">
            <tr id="tableMenu">
                <th id="tableMenu"><input id="homeButton" type="text" value="Home"
                                          onclick="window.location='/';" /></th>
                <th id="tableMenu"><input id="aboutButton" type="text" value="About"
                                          onclick="window.location='/about';" /></th>
                <th id="tableMenu"><input id="contactButton" type="text" value="Contact Us"
                                          onclick="window.location='/contact';" /></th>
            </tr>
        </table>
    </div>
</footer>





</body>
</html>