<!DOCTYPE html>
<html>
<script src="APIs/jquery-2.1.4.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <title>Team Setup</title>

    <link rel="stylesheet" href="APIs/jquery-ui-1.11.4.custom/jquery-ui.min.css">
    <script src="APIs/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
    <script src="APIs/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="scripts/teamSetupJS.js"></script>
    <link rel="stylesheet" href="style/css.css">

    <script src="scripts/algorithm.js"></script>
    <script src="scripts/shuffling.js"></script>
</head>
<p hidden="true" id="jsondat"><%-JSON.stringify(subjects);%></p>
<script>$(document).ready(function(e){
    //array van subject objects
    var subjects = JSON.parse($('#jsondat').text());
    for(var i = 0; i < subjects.length; i++)
    {
        $('#subjects').append('<div class="subject" id="' + subjects[i].id + '" draggable="true" ondragstart="drag(event)">' + subjects[i].name + '</div');
    }

});</script>
<body>
    <div class="header">
        <h2 class="headerMessages">Team Setup</h2>
        <img id="logo" src="images/Storm.png" alt="STORM Logo" height="80" />

    </div>
    <div class="main">
        <div class="teamSetup">
            <div class="members">
                <p style="font-size: large">Subject Pool</p>
                <div id="subjects" class="names" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <!--<%for(var i = 0; i < subjects.length; i++){%>
                    <div class="subject" id=<%= subjects[i].id %> draggable="true" ondragstart="drag(event)"><%=subjects[i].name%>
                    </div> <% } %> -->
                </div>
                <br><br><br>
                <div id="options">
                    <p style="font-size:120%; padding:0; margin:0;">Options</p><hr><br>
                    Number of teams:&nbsp;&nbsp;&nbsp;&nbsp;<input id="totalTeams" type="number" min="0"/><br><br>
                    Import from .CSV file: <input type="file" id="CSVInput" name="file" accept=".csv"/>
                </div>

            </div>

            <div class="shuffling_selection">
                <p id="shuffleHeading" style="font-size: large">Shuffling Method</p>
                <button name="Randomize" id="randomize">Randomize</button><br><br>
                <button name="Shuffle By" id="shuffle">Shuffle Teams By</button><br>

                <input type="radio" name="shuffleRad" value="0" checked > Diverse <br>
                <input type="radio" name="shuffleRad" value="1" > Similar
            </div>

            <div class="teams">
                <p style="font-size: large; text-align: center">Teams</p>
                <!-- This is how the team boxes will look like -->
                <!-- <div class="teamTables 1" ondrop="drop(event)" ondragover="allowDrop(event)"><img src="images/minus_button.png" class="minusButton mB1" alt="plus" height="25" width="25"><img src="images/left_arrow.png" class="leftArrow lA1" alt="move back" height="25" width="25"></div> -->
                <div class="teamAdd" id="teamAdd" ondrop="drop(event)"><img src="images/plus_button.png" id="plusButton" alt="plus" height="42" width="42"></div>
            </div>
        </div>
    </div>


    <br>
    <div id="dialog-confirm"></div>

</body>

<script>
</script>
</html>